/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  place-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.31);
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

.card {
  background-color: gray;
}

.level {
  background-color: rgba(22, 22, 239, 0.585);
  margin: 5px;
  text-align: center;

}

.group {
  background-color: rgba(239, 13, 13, 0.661);
  margin-bottom: 5px;
  text-align: center;
}

.quiz {
  background-color: rgba(14, 238, 14, 0.521);
  margin-bottom: 5px;
  text-align: center;
}

button {
  background-color: rgba(254, 254, 3, 0.685);
  margin-bottom: 5px;
  text-align: center;
}